@media (max-width: 768px) {
  .search-input {
    width: 0;
    padding: 0;
    border: none;
    visibility: hidden;
    display: none;
  }
  #productCarousel {
    margin: auto;
  }
  .carousel-item .row {
    flex-direction: column;
  }
  .carousel-item .col-md-4 {
    width: 100%;
    padding-left: 15%;
  }
  footer ul {
    display: inline;
  }
  footer a {
    margin: 0 1em;
  }
}
html body {
  background: linear-gradient(to bottom, #926689, #74506d, #583b52, #3d2739, #241421);
  color: #241421;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

.navbar {
  background-color: #241421;
}

.toggler {
  color: #CECECE;
}

.nav-link {
  color: #CECECE !important;
}

.navbar-brand {
  width: 10%;
}

#navbar-placeholder {
  height: 0;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*Main*/
.main {
  position: relative;
  background: url("images/clouds.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  opacity: 60%;
  font-family: "Indie Flower", cursive;
}

.mainText {
  position: absolute;
  top: 10%;
  left: 5%;
}

.main-title {
  font-size: 4.5em;
  text-shadow: 4px 4px #000;
}

/*About Us*/
.about-title {
  padding-top: 2.5em;
}

.about-text {
  font-size: 1em;
  text-shadow: 0 0 1px;
  text-align: center;
  margin: 5%;
}

.container {
  padding-top: 5.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CECECE;
  color: #CECECE;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
}

.cart-container {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

#productCarousel {
  margin-top: 2em;
}

.carousel-item {
  display: flex;
  justify-content: space-evenly;
}

.carousel-item .card {
  border: 1px solid white;
  margin: 1em;
  width: 75%;
  height: 22em;
  text-align: center;
  box-sizing: border-box;
}

.carousel-item .card img {
  max-width: 100%;
  width: 10em;
  height: 10em;
  display: block;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.product-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-body h5 {
  flex-grow: 1;
}

.product-body .product-text {
  margin-bottom: 1em;
}

/*Contacts*/
.contacts {
  margin-bottom: 2em;
}

.contact-sub {
  color: #CECECE;
}

.flip-card {
  color: #CECECE;
  width: 300px;
  height: 25em;
  border: 1px solid #CECECE;
  perspective: 1000px;
}

a {
  text-decoration: none !important;
  color: #CECECE !important;
}

a:hover {
  text-shadow: 5px 2px 5px #CECECE;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.contact-sub {
  font-size: 1.5em;
}

.contact-text, .text-center {
  color: #CECECE;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  color: #CECECE;
  transform: rotateY(180deg);
}

.card-text {
  position: absolute;
  top: 35%;
  left: 25%;
}

.form-container input,
textarea {
  background-color: transparent;
  color: #CECECE;
  outline: #CECECE;
  border: 1px solid #CECECE;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b0aeae;
}

input::placeholder, textarea::placeholder {
  color: #b0aeae;
}

/*Footer*/
footer {
  background-color: #241421;
  border-top: 1px solid #CECECE;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: #CECECE;
}/*# sourceMappingURL=styles.css.map */